<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hospital List</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/reservation/GM.css">
</head>
<body>
    <h1>Hospital List Page</h1>

    <button type="button" class="region-select-button" id="openRegionModalBtn">지역 선택</button>

    <!-- 병원 데이터는 여기에 표시될 예정입니다  -->
    <div th:if="${responseDTO != null and !responseDTO.dtoList.isEmpty()}">
        <h2>Hospitals:</h2>
        <div class="hospital-grid-container">
            <div class="hospital-item" th:each="hospital : ${responseDTO.dtoList}">
                <h3 th:text="${hospital.dutyName}">Hospital Name</h3>
                <p>주소: <span th:text="${hospital.dutyAddr}">Hospital Address</span></p>
                <p>전화번호: <span th:text="${hospital.dutyTel1}">Hospital Tel</span></p>
                <a th:href="@{/hospitals/{hpid}(hpid=${hospital.hpid})}">상세보기</a>
            </div>
        </div>
    </div>
    <div th:unless="${responseDTO != null and !responseDTO.dtoList.isEmpty()}">
        <p>병원을 찾을 수 없습니다.</p>
    </div>

    <div th:if="${responseDTO != null and responseDTO.totalPages > 0}">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item" th:classappend="${!responseDTO.prev} ? 'disabled'">
                    <a class="page-link" th:href="@{/hospitals/list(page=${responseDTO.start - 1}, size=${responseDTO.size}, types=${responseDTO.pageRequestDTO.types}, keyword=${responseDTO.pageRequestDTO.keyword})}">Previous</a>
                </li>
                <li class="page-item" th:each="num : ${#numbers.sequence(responseDTO.start, responseDTO.end)}" th:classappend="${num == responseDTO.page} ? 'active'">
                    <a class="page-link" th:href="@{/hospitals/list(page=${num}, size=${responseDTO.size}, types=${responseDTO.pageRequestDTO.types}, keyword=${responseDTO.pageRequestDTO.keyword})}" th:text="${num}">1</a>
                </li>
                <li class="page-item" th:classappend="${!responseDTO.next} ? 'disabled'">
                    <a class="page-link" th:href="@{/hospitals/list(page=${responseDTO.end + 1}, size=${responseDTO.size}, types=${responseDTO.pageRequestDTO.types}, keyword=${responseDTO.pageRequestDTO.keyword})}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>