<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>로그인 | HealLink</title>

    <!-- 공통 CSS -->
    <link rel="stylesheet" th:href="@{/css/global.css}">

    <!-- 헤더, 푸터 CSS -->
    <link rel="stylesheet" th:href="@{/css/mainpage/header.css}">
    <link rel="stylesheet" th:href="@{/css/mainpage/footer.css}">

    <!-- 컨텐츠 CSS -->
    <link rel="stylesheet" th:href="@{/css/member/login.css}">
</head>
<body>

<div th:replace="mainpage/header :: header"></div>

<main class="login-container">

    <!-- 안내 문구 -->
    <div class="login-message">
        <h1>HealLink</h1>
        <p>당신의 진료가<br>여기서 시작됩니다</p>
    </div>

    <!-- 카카오 로그인 -->
    <button type="button" class="kakao-login-btn"
            onclick="location.href='/oauth2/authorization/kakao'">
        카카오 계정으로 로그인
    </button>
    <br>
    <!-- 일반 로그인 -->
    <button type="button" class="login-btn"
            onclick="location.href='/login/form'">
        회원 로그인</button>

    <!-- 회원가입 -->
    <div class="join-text">
        <a href="/join">회원가입</a>
    </div>
</main>

<script th:src="@{/js/login.js}"></script>
</body>
</html>